<%= javascript_include_tag('verify.js') %>
<p>Welcome to the website!</p>
<p>Please enter a validation code to enter</p>
<label for="code">Code: </label><input id="code" size=10/>
<button id="verify" action="/guest/verify">Enter</button>